.left-nav-bar{
    top: 0;
    left: 0;
    bottom: 0;
    position: relative;
    width: 256px;
    height: 100%;
    border-right: 1px solid #eaeaea; 
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
}

.menu{
    position: relative;
    width: 300px;
    margin-top: 30px;
    overflow: hidden;
    list-style-type: none;
}

.item{
    overflow: hidden;
    margin-bottom: 25px;
}

.button{
    display: block;
    padding: 16px 20px;
    position: relative;
}
.button i  {
    margin-right: 10px;
    color: #9E9E9E;
}
.button span{
    margin-left: 15px;
}

.small-menu {
    background: #EEEEEE;  
    transition: max-height 0.3s;
    max-height: 0;
    overflow: hidden;
}

.small-menu a{
    display: block;
    padding: 10px 70px;
    color: #9E9E9E;
    position: relative;
    margin-bottom: 2px;
    transition: 0.3s;
}
.small-menu a::before{
    content: "";
    width: 7px;
    height: 100%;
    background: #9E9E9E;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.small-menu a:hover::before{
    opacity: 1;
}

.item:target .small-menu{
    max-height: 10em;
}
a {
    text-decoration: none;
}

