
.btn {
    position: relative;
    width: 65px;
    height: 23px;
    padding: 5px 10px;
    background: #ffffff;
    border-radius: 30px;
    font-size: 12px;
    color: #ffffff;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -28%);
    vertical-align: middle;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    box-shadow: 00px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: black;
    font-weight: 400;

    i {
        font-size: 15px;
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 7px;
    }

    .btn-title{
        display: inline-block;
        font-size: 10px;
    }
}
.btn:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.9);
    }
    .btn:active {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
        }
