
@mixin visibility-mixin($visible){
    display: $visible;
}
.card:hover {
    background-color: #ffffff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.5);
}

.card {
    position: relative;
    width: 280px;
    height: 320px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
    .card-title {
        position: relative;
        top: 15px;
        left: 20px;

        .crypto-title {
            font-size: 20px;
            font-style: bold;
            margin-left: 7px;
        }
        .crypto-logo {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
    .card-price {
        position: relative;
        top: 40px;
        left: 10px;
        border-left: 5px solid #03A9F4;
        padding-left: 10px;

        .actual-price, .price-title {
            display: block;
        }
        .actual-price {
            font-weight: 700;
        }
    }
    .market-cap {
        position: relative;
        top: 60px;
        left: 20px;

        .market-cap-title, .actual-market-cap {
            display: block;
        }
    }
    .volume {
        position: relative;
        top: -29px;
        left: 130px;

        .market-volume-title, .actual-volume {
            display: block;
        }
    }
    .circulating {
        position: relative;
        top: 8px;
        left: 20px;

        .circulating-title, .actual-circulating {
            display: block;
        }
    }

    .drop-rise {
        position: relative;
        top: -17px;
        left: 130px;

        .hr-drop-rise-title {
            display: block;
            margin-top: 7px;
        }
        .changepercent {
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            font-size: 12px;
            margin-left: 5px;
        }

    }
    .actual-circulating, 
    .actual-market-cap,
    .actual-price,
    .actual-volume,
    .actual-drop-rise {
        font-family: 'Montserrat', sans-serif;
        color: #455A64;
        font-weight: 700;
        font-size: 14px;
    }
    .actual-price{
        color: #1DB700;
        
    }

    .title {
        font-size: 13px;
        color: #3F51B5;
        margin-bottom: 1px;
    } 

    .card-graph {
        position: relative;
        display: block;
        top: 25px;
        left: 20px;
        width: 160px;
        height: 70px;
        background: #03A9F4;
    }


    .graph-modal-container {
        display: none;
        position: relative;
        top: 72px;
        left: 40px;
    }
    .card-graph:hover  .graph-modal-container {
        @include visibility-mixin(block);
    }
}