
.main-nav{
    box-shadow: none;
    height: 10vh;
    border-bottom: 1px solid #eaeaea;

    i{
        position: relative;
        font-size: 25px;
        left: 20px;
        top: 30px;
        color: #9E9E9E;
    }

    .app-title{
        position: relative;
        left: 100px;
        top: -10px;
        color: #E91E63;
        font-size: 35px;
        font-weight:200;
        span {
            font-family: 'Covered By Your Grace', cursive;
        }
    }
}