
.main-nav{
    box-shadow: none;
    height: 75px;
    border-bottom: 2px solid #eaeaea;
    position: relative;

    i{
        position: relative;
        font-size: 25px;
        left: 20px;
        top: 30px;
        color: black;
    }

    .app-title{
        position: relative;
        left: 100px;
        top: -10px;
        color: #EA1F00;
        font-size: 35px;
        font-weight:200;
        span {
            font-family: 'Covered By Your Grace', cursive;
        }
    }
}